{% extends "main.html" %}
{% block contenidoQueCambia %}
{% load static %}
<script src="{% static '/js/modalcomidas.js' %}"></script>
<section>
<div>
<div class="postres">
    {% if user.is_authenticated %}
    <button id="openModalButton">¡Comparte tus recetas con nosotros!</button>
    {% else %}
    <button>Inicia sesión para compartir tus recetas</button>
    {% endif %}

    <div id="myModal" role="dialog" style="display: none;"> 
        <h2>Completa el formulario para compartir tus recetas con esta comunidad</h2>
        <form id="recetaForm" action="{% url 'postres' %}" method="post"> 
            {% csrf_token %}
            <label for="titulo">Título:</label><br>
            <input type="text" id="titulo" name="titulo"><br><br>
    
            <label for="ingredientes">Ingredientes:</label><br>
            <textarea id="ingredientes" name="ingredientes"></textarea><br><br>

            <label for="receta">Receta:</label><br>
            <textarea id="receta" name="receta"></textarea><br><br>
    
            <div class="button-container">
                <button type="submit" {% if not user.is_authenticated %}disabled{% endif %}>Cargar Receta</button> 
                <button type="button" id="closeModalButton">Cancelar</button>  
            </div>
        </form>     
    </div>
</div>  
{% include "cardspostres.html" %}

</section>
{% endblock contenidoQueCambia %}
