{% extends "main.html" %}
{% block contenidoQueCambia %}
<section>
    <article class="confirmation-article">
        <form action="{% url 'userdelete' usuario.id %}" method="post"> {%csrf_token%}
            <p class="confirmation-text">¿Está seguro que desea eliminar el usuario?</p>
            <div class="button-group">
                <a href="{% url 'perfil' %}" ><button type="submit">Confirmar</button></a>
                <a href="{% url 'perfil' %}" ><button type="button">Cancelar</button></a>
            </div>
        </form>
    </article>
</section>
{% endblock contenidoQueCambia %}