
.about {
    width: 100%;
    height: 200px; 
    overflow: hidden;
    position: relative;
}

.about img {
    width: 100%;
    height: auto;
    position: absolute;
    transform: translate(0%, -30%);
}


.about-content h1,
.about-content p {
    margin-bottom: 15px; 
}
