.search-form {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.search-input {
    flex: 1; 
    margin-right: 10px; 
}

.search-input input[type="text"] {
    width: 100%;
    padding: 15px; /* Ajusta el padding para aumentar el tamaño vertical */
    border: 1px solid #ccc;
    border-radius: 5px;
}


.btn {
    padding: 10px 20px;
    background: linear-gradient(-5deg, hsl(86, 61%, 44%), hsl(86, 65%, 54%));
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
